.button {
  -fx-background-color: #1f1f1f;
  -fx-background-radius: 1;
}

.button:hover {
  -fx-background-color: #2e2e2e;
}

.text-field {
  -fx-background-color: #1f1f1f;
  -fx-background-radius: 6;
  -fx-text-fill: white;
}
